<div class="container" ng-init="exampleTab = 'example1'">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ng-click="exampleTab = 'example1'" ng-class="{active: exampleTab === 'example1'}"><a>Quilt from file</a></li>
        <li ng-click="exampleTab = 'example2'" ng-class="{active: exampleTab === 'example2'}"><a>Quilt from controller</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div ng-show="exampleTab === 'example1'">
        <h3>Code:</h3>
        <ul class="nav nav-pills">
          <li ng-click="example1File = 'html'" ng-class="{active: example1File === 'html'}"><a>index.html</a></li>
          <li ng-click="example1File = 'json'" ng-class="{active: example1File === 'html'}"><a>example.quilt.json</a></li>
        </ul>
        <div hljs><ng:quilt container="false" quilt-url="/example.quilt.json"></ng:quilt></div>
        <hr />
        <h3>Output:</h3>
        <ng:quilt container="false" quilt-url="/example.quilt.json"></ng:quilt>
      </div>

      <div ng-show="exampleTab === 'example2'">
        <h3>Code:</h3>
        <div hljs><ng:quilt container="false" quilt="quilt"></ng:quilt></div>
        <hr />
        <h3>Output:</h3>
        <ng:quilt container="false" quilt="quilt"></ng:quilt>
      </div>
    </div>
  </div>
</div>



